{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}
<div>
<ol class="breadcrumb">
        	<li><a href="/">Головна</a></li>
			<li><a href="{% url 'articles-list' %}">Всі публікації</a></li>
        	<li><a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></li>
    	</ol>
 <div>
 <h3 class="item-category">
 {{ item.title }}
 </h3>
 <h5  class="item-pub-date">
 {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
 </h5>
 </div>
 <div class="item-content">
 {{ item.description|escape|safe }}
 {% if item.images.all %}
 {% include 'fotorama.html' with images=images %}
 {% endif %}
 </div>
 <div class=‘clearfix’></div>
</div>
{% endspaceless %}
{% endblock %}